.dialog-pane {
    -fx-border-color: rgba(30, 30, 30, 0.9);
    -fx-border-width: 2.0px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(30, 30, 30, 0.9);
}

.dialog-pane > .button-bar > .container {
    -fx-background-color: rgba(30, 30, 30, 0.9);
    -fx-padding: 10px;
    -fx-border-radius: 10px;
}

.dialog-pane > .content {
    -fx-padding: 1em;
    -fx-background-color: rgba(30, 30, 30, 0.9); /* Background del contenuto */
    -fx-text-fill: white; /* Colore del testo */
    -fx-font-size: 20.0px;
    -fx-font-style: Arial ;
}

.dialog-pane:header .header-panel {
    -fx-background-color: rgba(30, 30, 30, 0.9);
    -fx-padding: 10px;
    -fx-border-radius: 10px;
}

.dialog-pane:header .header-panel .label {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 18.0px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.dialog-pane .button {
    -fx-background-color: rgb(45, 45, 45);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-border-color: transparent;
    -fx-background-radius: 5px;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}

.dialog-pane .button:hover {
    -fx-background-color: rgb(95, 154, 160);
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(117, 177, 197, 0.6), 8, 0, 0, 2);
}

.dialog-pane .button:pressed {
    -fx-background-color: rgb(95, 154, 160);
    -fx-text-fill: white;
}

