.label {
    -fx-text-fill: rgb(255, 255, 255); 
}

.text-field {
    -fx-background-color: rgb(65, 65, 65); 
    -fx-text-fill: rgb(255, 255, 255);    
    -fx-border-color: transparent;       
}

.button {
    -fx-background-color: rgb(45, 45, 45); 
    -fx-text-fill: rgb(255, 255, 255);    
    -fx-border-color: transparent;       
    -fx-background-radius: 5;            
}

.button:hover {
    -fx-background-color: rgb(85, 85, 85); 
}

.button:pressed {
    -fx-background-color: rgb(45, 45, 45); 
}

.menu-button {
    -fx-background-color: rgb(45, 45, 45); 
    -fx-text-fill: rgb(255, 255, 255);    
    -fx-border-color: transparent;       
    -fx-background-radius: 5;            
}

.menu-button:hover {
    -fx-background-color: rgb(85, 85, 85); 
}

.menu-button:pressed {
    -fx-background-color: rgb(45, 45, 45); 
}



.context-menu{
    -fx-background-color: rgb(30, 30, 30); 
}

.menu-item {
    -fx-text-fill: rgb(0, 0, 0); 
    -fx-background-color: rgb(30, 30, 30); 
}

.menu-item:hover {
    -fx-background-color: rgb(200, 200, 200); 
}